
Debug/vc142.pdb
Debug/vc142.idb
Debug/trampoline.obj
Debug/Menu.obj
Debug/imgui_widgets.obj
Debug/imgui_tables.obj
Debug/imgui_impl_win32.obj
Debug/imgui_impl_dx9.obj
Debug/imgui_draw.obj
Debug/imgui_demo.obj
Debug/imgui.obj
Debug/Hooking.obj
Debug/hook.obj
Debug/hde64.obj
Debug/hde32.obj
Debug/Game.obj
Debug/dllmain.obj
Debug/D3D9Window.obj
Debug/Console.obj
Debug/COD4-SP-INTERNAL.vcxproj.FileListAbsolute.txt
Debug/COD4-SP-INTERNAL.tlog/link.write.1.tlog
Debug/COD4-SP-INTERNAL.tlog/link.read.1.tlog
Debug/COD4-SP-INTERNAL.tlog/link.command.1.tlog
Debug/COD4-SP-INTERNAL.tlog/COD4-SP-INTERNAL.lastbuildstate
Debug/COD4-SP-INTERNAL.tlog/CL.write.1.tlog
Debug/COD4-SP-INTERNAL.tlog/CL.read.1.tlog
Debug/COD4-SP-INTERNAL.tlog/CL.command.1.tlog
Debug/COD4-SP-INTERNAL.pdb
Debug/COD4-SP-INTERNAL.log
Debug/COD4-SP-INTERNAL.ilk
Debug/COD4-SP-INTERNAL.dll.recipe
Debug/COD4-SP-INTERNAL.dll
Debug/buffer.obj
.vs/COD4-SP-INTERNAL/v16/ipch/ccf925ec40bc4267.ipch
.vs/COD4-SP-INTERNAL/v16/ipch/AutoPCH/c37ec0e42da81b33/MENU.ipch
.vs/COD4-SP-INTERNAL/v16/ipch/AutoPCH/9cc957803e77dd66/D3D9WINDOW.ipch
.vs/COD4-SP-INTERNAL/v16/Browse.VC.db
.vs/COD4-SP-INTERNAL/v16/.suo
